body {
  background-color: #26335d;
}

.img-cstm {
  height: 100%;
  width: 80%;
}

.vid-cstm {
  height: 100%;
  width: 80%;
}

.container-cstm {
    width: 50%;
}

footer {
    background-color: white
}

.inline-cstm {
  display: inline;
}

.dev-photo-cstm {
  height: 50px;
  width: 50px;
}

.line-sm-cstm {
  height: 2px;
  background-color: #e74040;
  width: 70px;
}

.line-lg-cstm {
  height: 5px;
  background-color: #e74040;
  width: 130px;
}

.icon-size-cstm {
  font-size: 72px;
}

.line-separator-cstm {
  width: 100%;
  height: 1px;
  background-color: grey;
}
